    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            
            body {
                background: linear-gradient(to right, #00b4db, #04658660);
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
            }
            .container {
                max-width: 800px;
                margin: auto;
                padding: 20px;
                background-color: #ffffff;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
            .content {
                text-align: center;
            }
            .title {
                font-size: 24px;
                color: #333;
            }
            .description {
                font-size: 16px;
                color: #666;
            }
        </style>
    </head>
   